---
layout: default
---

{% for team in site.data.team %}
<div class="float_team">
  <h1>{{ team[0] }}:</h1>
  {% for member in team[1] %}
  <div class="float_team-item">
    <div class="team_image">
      {% if member.picture == nil %}
        <img src={{ '/assets/unknown.png' | relative_url }} alt="no image available">
      {% else %}
        <img src={{ '/assets/' | append: member.picture | relative_url }} alt={{ 'image: ' | append: member.first_name | append: member.last_name }}">
        {% unless member.picture_copyright == nil %}
          <span class="team_image_copyright">{{ member.picture_copyright }}</span>
        {% endunless %}
      {% endif %}
    </div>
    <ul>
      <li>{{ member.title }} {{ member.first_name }} {{ member.last_name }}</li>
      <li>{{ member.position }}</li>
      <li>{{ member.expertise }}</li>
      <li>{{ member.affiliation }}</li>
    </ul>
  </div>
  {% endfor %}
</div>
{% endfor %}
