<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <!-- {% if site.github.is_project_page %} -->
        <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
        <!-- {% assign full_repository_url = site.github.repository_url | append: '/' | append: site.github.source.branch %} -->
        <!-- <a href="{{ full_repository_url }}" class="btn">View on GitHub</a> -->
      <!-- {% endif %} -->
      <!-- {% if site.show_downloads %} -->
	<!-- <a href="{{ site.github.zip_url }}" class="btn">Download Dataset</a> -->
      <!-- {% endif %} -->

      <!-- {% for page in site.html_pages %} -->
      <!-- <a class="btn" href={{ page.filename }}>{{ page.title }}</a> -->
      <!-- {% endfor %} -->
      <a class="btn" href={{ 'index' | relative_url }}>Home</a>
      <a class="btn" href={{ 'news' | relative_url }}>News</a>
      <a class="btn" href={{ 'about_us' | relative_url }}>About us</a>
      <a class="btn" href={{ 'research' | relative_url }}>Research</a>
      <!-- <a class="btn" href={{ 'publications' | relative_url }}>Publications</a> -->
    </header>

    <main id="content" class="main-content" role="main">
      {% unless page.name == "open_positions.md" %}
      <div class="hiring"> <a href="open_positions">>>We're hiring!<< </a></div>
      {% endunless %}

      <div class="float_team">
	<h1>Lead PIs:</h1>
	{% for member in site.data.team.lead_pis %}
	<div class="float_team-item">
	  {% if member.picture == nil %}
	  <img class="team_image" src="/assets/unknown.png" alt="no image available">
	    {% else %}
	  <img class="team_image" src={{ '/assets/' | append: member.picture }} alt={{ 'image:' | append: member.first_name | append: member.last_name }}">
	    {% endif %}

	  <ul>
	    <li>{{ member.title }} {{ member.first_name }} {{ member.last_name }}</li>
	    <li>{{ member.position }}</li>
	    <li>{{ member.affiliation }}</li>
	  </ul>
	</div>
	{% endfor %}
      </div>


      <div class="float_team">
	<h1>Project team:</h1>
	<!-- {% assign whole_team = site.data.team.team | concat: site.data.team.contributors %} -->
	{% for member in site.data.team.team %}
	<div class="float_team-item">
	  {% if member.picture == nil %}
	  <img class="team_image" src="/assets/unknown.png" alt="no image available">
	    {% else %}
	  <img class="team_image" src={{ '/assets/' | append: member.picture }} alt={{ 'image:' | append: member.first_name | append: member.last_name }}">
	    {% endif %}

	  <ul>
	    <li>{{ member.title }} {{ member.first_name }} {{ member.last_name }}</li>
	    <li>{{ member.position }}</li>
	    <li>{{ member.affiliation }}</li>
	  </ul>
	</div>
	{% endfor %}
      </div>

      <div class="float_team">
	<h1>Contributors:</h1>
	{% for member in site.data.team.contributors %}
	<div class="float_team-item">
	  {% if member.picture == nil %}
	  <img class="team_image" src="/assets/unknown.png" alt="no image available">
	    {% else %}
	  <img class="team_image" src={{ '/assets/' | append: member.picture }} alt={{ 'image:' | append: member.first_name | append: member.last_name }}">
	    {% endif %}

	  <ul>
	    <li>{{ member.title }} {{ member.first_name }} {{ member.last_name }}</li>
	    <li>{{ member.position }}</li>
	    <li>{{ member.affiliation }}</li>
	  </ul>
	</div>
	{% endfor %}
      </div>


      <br>
      <!-- {{ content }} -->

      <footer class="site-footer">
        <!-- {% if site.github.is_project_page %} -->
        <!--   <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span> -->
        <!-- {% endif %} -->
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
